parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$cmp_function of function uksort expects callable\\(mixed, mixed\\)\\: int, Closure\\(mixed, mixed\\)\\: int\\|false given\\.$#"
			count: 1
			path: src/FormConfig/FieldChoicesConfig.php

		-
			message: "#^Variable \\$b in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: src/FormConfig/FieldChoicesConfig.php

		-
			message: "#^Parameter \\#2 \\$cmp_function of function uasort expects callable\\(mixed, mixed\\)\\: int, Closure\\(mixed, mixed\\)\\: int\\|false given\\.$#"
			count: 1
			path: src/FormConfig/FieldChoicesConfig.php

