<html>
<body>
    <div id="form"></div>
    <div id="display"></div>
    <iframe id="ifrm" src="http:/example.com/form/app-id/form-id"></iframe>
    <script>
        var targetOrigin = 'http://example.com';
        {% if app.request.query.get('local', false) %}
        var targetOrigin = 'http://localhost.test';
        {% endif %}

        window.addEventListener('load', getForm, false);
        window.addEventListener('message', handleMessage, false);

        function getForm() {
            var msg = JSON.stringify( {'instruction': 'form'} );
            var win = document.getElementById('ifrm').contentWindow;
            win.postMessage( msg, targetOrigin );
        }

        function handleForm() {
            // assign onclick handler to submit button
            document.getElementById('ap10_contact').onsubmit = function(e) {
                e.preventDefault();

                let formData = new FormData(this);

                var data = {};
                formData.forEach(function(value, key){
                    data[key] = value;
                });

                var msg = JSON.stringify({'instruction': 'submit', 'form': data});
                var win = document.getElementById('ifrm').contentWindow;
                win.postMessage( msg, targetOrigin );
            }
        }

        function handleMessage(e) {
            var allowedDomains = [
                'http://example.com',
                'http://localhost.test'
            ];

            if ( !allowedDomains.includes(e.origin) ) {
                return;
            }

            var data = JSON.parse(e.data);

            switch (data.instruction) {
                case 'form':
                case 'validation-error':
                    var parser = new DOMParser;
                    var dom = parser.parseFromString(
                        '<!doctype html><body>' + data.response.trim(),
                        'text/html');
                    document.getElementById('form').innerHTML = dom.body.textContent;
                    handleForm();
                    break;
                case 'success':
                    document.getElementById('display').innerHTML = data.response;
                    break;
                default:
                    return;
            }
        }
    </script>
</body>
</html>