{% trans_default_domain trans_default_domain %}
<html>
<body>
<script>
    function handleMessage(e) {
        var allowedDomains = ["{{ domains|join('","')|raw }}"];
        if ( !allowedDomains.includes(e.origin) ) {
            return;
        }

        let data = JSON.parse(e.data);
        let msg = '';

        switch (data.instruction) {
            case 'form':
                msg = JSON.stringify( {% embed '@EMSForm/form-api/form.html.twig' with {'form': form} %}{% endembed %} );
                break;
            case 'submit':
                var xhr = new XMLHttpRequest();
                xhr.open("POST", window.location.toString(), false);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        msg = xhr.responseText;
                    }
                    else if (xhr.status !== 200) {
                        msg = xhr.responseText;
                    }
                    e.source.postMessage(msg, e.origin);
                };
                let url_encoded = [];
                for(key in data.form) {
                    url_encoded.push(encodeURI(key.concat('=').concat(data.form[key])));
                }
                xhr.send(url_encoded.join('&'));
                break;
            default:
                return;
        }

        e.source.postMessage(msg, e.origin);
    }

    // assign handler for message events
    window.addEventListener('message', handleMessage, false);
</script>
</body>
</html>